@use '../abstracts' as *;

.open-button {
    color: $white;
    width: rem(152px);
    height: rem(40px);
    padding: rem(3px) 0 0 rem(2px);
    cursor: pointer;
    font-size:      rem(10px);
    line-height:    rem(12px);
    letter-spacing: rem(2.14px);
    position: absolute;
    top:  5%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    &:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sa;
    @include mq(medium) {
        top: auto;
        left:    1rem;
        bottom:  1rem;
    }
    @include mq(large) {
        bottom:  rem(80px);
    }
    &::before {
        padding-top: rem(2px);
        content: url(../assets/shared/icon-view-image.svg);
    }
}

.close-button {
    color: $white;
    cursor: pointer;
    width:  rem(68px);
    height: rem(17px);
    font-size:      rem(14px);
    line-height:    rem(17px);
    letter-spacing: rem(3px);
    text-transform: uppercase;
    background: none;
    border: none;
    margin-left: auto;
    margin-bottom: rem(33px);
    @include mq(medium) {
        margin-bottom: rem(41px);
    }
    &:hover {
        color: $gray;
    }
}