@use '../abstracts' as *;

.details {
    margin-top: rem(24px);
    @extend %flex;
    @extend %flex-d-c;
    @include mq(medium) {
        margin-top: rem(40px);
    }
    @include mq(large) {
        flex-direction: row;
        height: rem(624px);
        margin-top: rem(100px);
    }
}
