@use '../abstracts' as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: rem(72px);
    @include mq(medium) {
        height: rem(px);
    }
    h6 {
        margin-top: 9px;
        color: $black;
    }
}










