@use '../abstracts' as *;

.starry-heading {
    @include mq(medium) {
        width: rem(200px);
    }
}

.girl-heading {
    @include mq(medium) {
        width: rem(400px);
    }   
}

.storm-heading {
    width: 90%;
    max-width: rem(225px);
    @include mq(medium) {
        max-width: rem(350px);
    }   
}