@use '../abstracts' as *;

.slideshow-link {
    font-size:      rem(9px);
    line-height:    rem(11px);
    letter-spacing: rem(2px);
    @include mq(medium) {
        font-size:      rem(12px);
        line-height:    rem(15px);
        letter-spacing: rem(2.5px);
    }
}