@use '../abstracts' as *;

.modal {
    width:  100%;
    height: 100%;
    position:   fixed;
    background-color: rgba(0, 0, 0, 0.85);
    @extend %flex-center;
    &__inner {
        width: calc(100% - rem(48px));
        text-align: right;
    }
    &__image {
       width: 100%;
       margin: 0 auto;
    }
    &__inner--starry,
    &__image--starry {
        max-width: rem(917px);
    }
    &__inner--girl,
    &__image--girl {
        max-width: rem(519px);
    }

    &__inner--guernica,
    &__image--guernica {
        max-width: rem(1253px);
    }

    &__inner--magdalene,
    &__image--magdalene {
        max-width: rem(573px);
    }

    &__inner--storm,
    &__image--storm {
        max-width: rem(597px);
    }

    &__inner--great-wave,
    &__image--great-wave {
        max-width: rem(670px);
    }
}