@use '../abstracts' as *;

.modal {
    width:  100%;
    height: 100%;
    position:   fixed;
    background-color: rgba(0, 0, 0, 0.85);
    @extend %flex-center;
    &__inner {
        width: 85%;
        text-align: right;
    }
    &__image {
       width: 100%;
       margin: 0 auto;
    }
    &__inner--starry,
    &__image--starry {
        max-width: rem(917px);
    }
    &__inner--girl,
    &__image--girl {
        max-width: rem(519px);
    }

    &__inner--guernica,
    &__image--guernica {
        max-width: rem(1253px);
    }
}