@use '../abstracts/' as *;

*,
*:after,
*:before {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
}

a,
h1,
h2,
h3 {
    margin:  0;
    padding: 0;
    font-weight: 700;
}

h2 {
    color: $white;
    font-size:   rem(24px);
    line-height: rem(29px);
}

h5 {
    color: #f3f3f3;
    font-weight: 400;
    font-size:   rem(13px);
    line-height: rem(17px);
}

a {
    color: $gray;
    text-transform:  uppercase;
    text-decoration: none;
    &:hover {
        color: $black;
    }
}

.wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: rem(1360px);
}
