@use '../abstracts' as *;

*,
*:after,
*:before {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
}

a,
h1,
h2,
h3,
button {
    margin:  0;
    padding: 0;
    font-weight: 700;
}

a {
    color: $gray;
    text-transform:  uppercase;
    text-decoration: none;
    list-style: none;
    &:hover {
        color: $black;
    }
}

ul {
    list-style-type: none;
}

h1 {
    font-size:   rem(24px);
    line-height: rem(29px);
    margin-bottom: rem(8px);
    @include mq(medium) {
        width: rem(200px);
        margin-top: 1.5%;
        margin-bottom: rem(24px);
        font-size:   rem(56px);
        line-height: rem(64px);
    }
}

h2 {
    color: $white;
    font-size:   rem(24px);
    line-height: rem(29px);
    margin-bottom: rem(5px);
}

h4 {
    color: $gray;
    font-size:   rem(15px);
    line-height: rem(19px);
}

h5 {
    color: $white;
    opacity: 0.75;
    font-weight: 400;
    font-size:   13px;
    line-height: rem(17px);
}

strong {
    color: $lightergray;
    font-size:   rem(100px);
    line-height: rem(100px);
    @include mq(medium) {
        font-size:   rem(200px);
        line-height: rem(150px);
    }
}

.wrapper {
    width: calc(100% - rem(48px));
    margin: 0 auto;
    max-width: rem(1360px);
    @include mq(medium) {
        width: calc(100% - rem(80px));
    }
}