@use '../abstracts' as *;

*,
*:after,
*:before {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    max-height: rem(1400px);
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Libre Baskerville', serif;
}

a,
p,
h1,
h2,
h3,
button {
    margin:  0;
    padding: 0;
    font-weight: 700;
}

ul {
    list-style-type: none;
}

a {
    color: $gray;
    text-transform:  uppercase;
    text-decoration: none;
    list-style: none;
    &:hover {
        color: $black;
    }
}

p {
    color: $gray;
    font-size:   rem(14px);
    line-height: rem(28px);
}

h1 {
    font-size:   rem(24px);
    line-height: rem(29px);
    margin-bottom: rem(8px);
    @include mq(medium) {
        margin-bottom: rem(26px);
        font-size:   rem(56px);
        line-height: rem(64px);
    }
}

h2 {
    color: $white;
    font-size:   rem(24px);
    line-height: rem(29px);
    margin-bottom: rem(5px);
}

h3 {
    font-size:   rem(14px);
    @include mq(medium) {
        font-size:   rem(18px);
        line-height: rem(22px);
    }
}

h4 {
    color: $gray;
    font-size:   rem(15px);
    line-height: rem(19px);
}

small {
    color: $white;
    opacity: 0.75;
    font-weight: 400;
    font-size:   rem(13px);
    line-height: rem(17px);
}

h6 {
    color: $black;
    opacity: 0.75;
    margin-top: 9px;
    font-weight: 400;
    font-size:   rem(10px);
    line-height: rem(12px); 
    @include mq(medium) {
        font-size:   rem(13px);
        line-height: rem(17px); 
    }
}

strong {
    color: $lightergray;
    font-size:   rem(100px);
    line-height: rem(100px);
    @include mq(medium) {
        font-size:   rem(200px);
        line-height: rem(150px);
    }
}

.wrapper {
    width: calc(100% - rem(48px));
    margin: 0 auto;
    max-width: rem(1360px);
    @include mq(medium) {
        width: calc(100% - rem(80px));
    }
}